*{
    margin: 0;
    padding: 0;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
.btn{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
.btn1{
    background-color: rgb(122, 177, 201);
   
    
}
.btn2{
    background-color: rgb(190, 35, 35);
}
.btn1:hover{
    width: 260px;
    height: 55px;

}
.btn2:hover{
    width: 260px;
    height: 55px;
}
.btn-div{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    position: relative;
    top: 50%;
}
.count-h{
    position: relative;
    top: 20%;
}